body{
    background-color: rgb(41, 39, 39);
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#content{
    background-color: #1f1f1f;
    box-shadow: 2px 4px 10px black;
    border: 2px solid gray
}

h1{
    text-align: center;
}

.input-container{
    margin: 4px;
    padding: 1px 6px;
}

#todo-input{
    background-color: #2f2f2f;
    color: #fff;
    border: 2px solid;
    border-radius: 5px;
    height: 33px;
    box-shadow: 3px 6px 10px black;
    font-family: 'Courier New', Courier, monospace;
}

.add-task-btn{
    background-color: rgb(56, 16, 237);
    color: #fff;
    border: 2px solid ;
    border-radius: 5px;
    height: 40px;
    box-shadow: 3px 6px 10px black;
    font-family: 'Courier New', Courier, monospace;
}
.add-task-btn:hover{
    background-color: rgb(39, 12, 158);
    color: #fff;
    cursor: pointer;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1px 6px;
}

li{
    color: white;
    border: 2px solid #3f3f3f;
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 33px;
    box-shadow: 3px 4px 10px black;
    margin-bottom: 10px;
}

li button{
    background-color: #d32f2f;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px;
}
li button:hover{
    background-color: #9c0606; 
}