body {
    margin: 0;
    
    padding: 0;
    background-image: linear-gradient(to bottom, #00111a, #00334d, #005580);
    background: url("https://hagall-media.de/cp/forest3.jpg") repeat-x;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #2f2f2f;
    padding-left: 30px;
    height: 500px;
    width: 400px;
}

#height,
#weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
    background-color: #3f3f3f;
    border: 3px solid #272424;
    color: #fff;
}

#weight-guide {
    margin-left: 75px;
    margin-top: 25px;
}

#results {
    font-size: 35px;
    margin-left: 75px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}

button {
    width: 150px;
    height: 35px;
    margin-left: 105px;
    margin-top: 25px;
    background-color: #cc9b83;
    padding: 1px 30px;
    border-radius: 8px;
    color: #220707;
    text-decoration: none;
    border: 2px solid #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
}

button:hover {
    background-color: #e6c6b4;
    box-shadow: 5px 5px 10px #000;
}

h1 {
    display: flex;
    justify-content: center;
    text-shadow: 4px 8px 4px #000;
}